# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/jokecamp/FootballData/master/Euro%202012/Euro%202012%20stats%20TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [4]:
httml = 'https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv'
euro12 = pd.read_csv(httml, sep=',')

In [13]:
euro12.index = euro12.Team

### Step 4. Select only the Goal column.

In [16]:
euro12.Goals

Team
Croatia                 4
Czech Republic          4
Denmark                 4
England                 5
France                  3
Germany                10
Greece                  5
Italy                   6
Netherlands             2
Poland                  2
Portugal                6
Republic of Ireland     1
Russia                  5
Spain                  12
Sweden                  5
Ukraine                 2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [11]:
euro12.shape[0]

16

### Step 6. What is the number of columns in the dataset?

In [17]:
euro12.shape[1]

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [22]:
discipline = euro12.loc[:, ['Yellow Cards', 'Red Cards']]
discipline

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Yellow Cards</th>
      <th>Red Cards</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Croatia</th>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Czech Republic</th>
      <td>7</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Denmark</th>
      <td>4</td>
      <td>0</td>
    </tr>
    <tr>
      <th>England</th>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>France</th>
      <td>6</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>4</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Greece</th>
      <td>9</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Portugal</th>
      <td>12</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Republic of Ireland</th>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Russia</th>
      <td>6</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>11</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Sweden</th>
      <td>7</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>5</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [23]:
discipline.sort_values(by=['Red Cards', 'Yellow Cards'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Yellow Cards</th>
      <th>Red Cards</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Denmark</th>
      <td>4</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>4</td>
      <td>0</td>
    </tr>
    <tr>
      <th>England</th>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>5</td>
      <td>0</td>
    </tr>
    <tr>
      <th>France</th>
      <td>6</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Russia</th>
      <td>6</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Czech Republic</th>
      <td>7</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Sweden</th>
      <td>7</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Croatia</th>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>11</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Portugal</th>
      <td>12</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>Republic of Ireland</th>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Greece</th>
      <td>9</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

### Step 9. Calculate the mean Yellow Cards given per Team

In [24]:
discipline['Yellow Cards'].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [27]:
euro12.query('Goals > 6')[['Goals']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Goals</th>
    </tr>
    <tr>
      <th>Team</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Germany</th>
      <td>10</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>12</td>
    </tr>
  </tbody>
</table>
</div>

### Step 11. Select the teams that start with G

In [31]:
euro12[euro12.Team.str.startswith('G')].Team

Team
Germany    Germany
Greece      Greece
Name: Team, dtype: object

### Step 12. Select the first 7 columns

In [32]:
euro12.columns[:7]

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)'],
      dtype='object')

### Step 13. Select all columns except the last 3.

In [33]:
euro12.columns[:-3]

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards'],
      dtype='object')

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [42]:
euro12.query('Team == "England" | Team == "Italy" | Team == "Russia"')['Shooting Accuracy']
euro12[euro12.Team.isin(['England', 'Italy', 'Russia'])]['Shooting Accuracy']

Team
England    50.0%
Italy      43.0%
Russia     22.5%
Name: Shooting Accuracy, dtype: object