# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
dir = 'C:\\Users\\Lenovo\\PycharmProjects\\pandas_exercises\\05_Merge\\Auto_MPG\\'
cars1 = pd.read_csv(dir + 'cars1.csv')
cars2 = pd.read_csv(dir + 'cars2.csv')
cars1.head()
cars2.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mpg</th>
      <th>cylinders</th>
      <th>displacement</th>
      <th>horsepower</th>
      <th>weight</th>
      <th>acceleration</th>
      <th>model</th>
      <th>origin</th>
      <th>car</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>33.0</td>
      <td>4</td>
      <td>91</td>
      <td>53</td>
      <td>1795</td>
      <td>17.4</td>
      <td>76</td>
      <td>3</td>
      <td>honda civic</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20.0</td>
      <td>6</td>
      <td>225</td>
      <td>100</td>
      <td>3651</td>
      <td>17.7</td>
      <td>76</td>
      <td>1</td>
      <td>dodge aspen se</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18.0</td>
      <td>6</td>
      <td>250</td>
      <td>78</td>
      <td>3574</td>
      <td>21.0</td>
      <td>76</td>
      <td>1</td>
      <td>ford granada ghia</td>
    </tr>
    <tr>
      <th>3</th>
      <td>18.5</td>
      <td>6</td>
      <td>250</td>
      <td>110</td>
      <td>3645</td>
      <td>16.2</td>
      <td>76</td>
      <td>1</td>
      <td>pontiac ventura sj</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17.5</td>
      <td>6</td>
      <td>258</td>
      <td>95</td>
      <td>3193</td>
      <td>17.8</td>
      <td>76</td>
      <td>1</td>
      <td>amc pacer d/l</td>
    </tr>
  </tbody>
</table>
</div>

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1 = cars1.drop(['Unnamed: 9', 'Unnamed: 10',
            'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1)

### Step 5. What is the number of observations in each dataset?

In [9]:
print('cars1: ', cars1.shape[0],'; cars2: ', cars2.shape[0])

cars1:  198 ; cars2:  200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [50]:
cars = pd.concat([cars1, cars2])
cars.index = np.arange(0, cars.shape[0])

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [47]:
owners = pd.Series(np.random.randint(15000, 73000, size=(398,)), name='owners')
owners

0      63313
1      23768
2      15320
3      43343
4      37448
5      56944
6      62112
7      33938
8      15306
9      65403
10     35946
11     29633
12     71637
13     47534
14     30406
15     53453
16     42332
17     45504
18     42597
19     38941
20     32390
21     32667
22     56008
23     20601
24     20197
25     16084
26     50060
27     18726
28     60929
29     26904
       ...
368    28105
369    41688
370    38171
371    47017
372    17871
373    60999
374    21410
375    60281
376    70067
377    30300
378    68615
379    27957
380    34027
381    52455
382    56978
383    37119
384    47389
385    22052
386    30502
387    23039
388    44391
389    32823
390    38779
391    65242
392    53177
393    60782
394    54594
395    64510
396    56709
397    69595
Name: owners, Length: 398, dtype: int32

### Step 8. Add the column owners to cars

In [49]:
pd.concat([cars, owners], axis=1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>mpg</th>
      <th>cylinders</th>
      <th>displacement</th>
      <th>horsepower</th>
      <th>weight</th>
      <th>acceleration</th>
      <th>model</th>
      <th>origin</th>
      <th>car</th>
      <th>owners</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>18.0</td>
      <td>8</td>
      <td>307</td>
      <td>130</td>
      <td>3504</td>
      <td>12.0</td>
      <td>70</td>
      <td>1</td>
      <td>chevrolet chevelle malibu</td>
      <td>63313</td>
    </tr>
    <tr>
      <th>1</th>
      <td>15.0</td>
      <td>8</td>
      <td>350</td>
      <td>165</td>
      <td>3693</td>
      <td>11.5</td>
      <td>70</td>
      <td>1</td>
      <td>buick skylark 320</td>
      <td>23768</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18.0</td>
      <td>8</td>
      <td>318</td>
      <td>150</td>
      <td>3436</td>
      <td>11.0</td>
      <td>70</td>
      <td>1</td>
      <td>plymouth satellite</td>
      <td>15320</td>
    </tr>
    <tr>
      <th>3</th>
      <td>16.0</td>
      <td>8</td>
      <td>304</td>
      <td>150</td>
      <td>3433</td>
      <td>12.0</td>
      <td>70</td>
      <td>1</td>
      <td>amc rebel sst</td>
      <td>43343</td>
    </tr>
    <tr>
      <th>4</th>
      <td>17.0</td>
      <td>8</td>
      <td>302</td>
      <td>140</td>
      <td>3449</td>
      <td>10.5</td>
      <td>70</td>
      <td>1</td>
      <td>ford torino</td>
      <td>37448</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15.0</td>
      <td>8</td>
      <td>429</td>
      <td>198</td>
      <td>4341</td>
      <td>10.0</td>
      <td>70</td>
      <td>1</td>
      <td>ford galaxie 500</td>
      <td>56944</td>
    </tr>
    <tr>
      <th>6</th>
      <td>14.0</td>
      <td>8</td>
      <td>454</td>
      <td>220</td>
      <td>4354</td>
      <td>9.0</td>
      <td>70</td>
      <td>1</td>
      <td>chevrolet impala</td>
      <td>62112</td>
    </tr>
    <tr>
      <th>7</th>
      <td>14.0</td>
      <td>8</td>
      <td>440</td>
      <td>215</td>
      <td>4312</td>
      <td>8.5</td>
      <td>70</td>
      <td>1</td>
      <td>plymouth fury iii</td>
      <td>33938</td>
    </tr>
    <tr>
      <th>8</th>
      <td>14.0</td>
      <td>8</td>
      <td>455</td>
      <td>225</td>
      <td>4425</td>
      <td>10.0</td>
      <td>70</td>
      <td>1</td>
      <td>pontiac catalina</td>
      <td>15306</td>
    </tr>
    <tr>
      <th>9</th>
      <td>15.0</td>
      <td>8</td>
      <td>390</td>
      <td>190</td>
      <td>3850</td>
      <td>8.5</td>
      <td>70</td>
      <td>1</td>
      <td>amc ambassador dpl</td>
      <td>65403</td>
    </tr>
    <tr>
      <th>10</th>
      <td>15.0</td>
      <td>8</td>
      <td>383</td>
      <td>170</td>
      <td>3563</td>
      <td>10.0</td>
      <td>70</td>
      <td>1</td>
      <td>dodge challenger se</td>
      <td>35946</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14.0</td>
      <td>8</td>
      <td>340</td>
      <td>160</td>
      <td>3609</td>
      <td>8.0</td>
      <td>70</td>
      <td>1</td>
      <td>plymouth 'cuda 340</td>
      <td>29633</td>
    </tr>
    <tr>
      <th>12</th>
      <td>15.0</td>
      <td>8</td>
      <td>400</td>
      <td>150</td>
      <td>3761</td>
      <td>9.5</td>
      <td>70</td>
      <td>1</td>
      <td>chevrolet monte carlo</td>
      <td>71637</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14.0</td>
      <td>8</td>
      <td>455</td>
      <td>225</td>
      <td>3086</td>
      <td>10.0</td>
      <td>70</td>
      <td>1</td>
      <td>buick estate wagon (sw)</td>
      <td>47534</td>
    </tr>
    <tr>
      <th>14</th>
      <td>24.0</td>
      <td>4</td>
      <td>113</td>
      <td>95</td>
      <td>2372</td>
      <td>15.0</td>
      <td>70</td>
      <td>3</td>
      <td>toyota corona mark ii</td>
      <td>30406</td>
    </tr>
    <tr>
      <th>15</th>
      <td>22.0</td>
      <td>6</td>
      <td>198</td>
      <td>95</td>
      <td>2833</td>
      <td>15.5</td>
      <td>70</td>
      <td>1</td>
      <td>plymouth duster</td>
      <td>53453</td>
    </tr>
    <tr>
      <th>16</th>
      <td>18.0</td>
      <td>6</td>
      <td>199</td>
      <td>97</td>
      <td>2774</td>
      <td>15.5</td>
      <td>70</td>
      <td>1</td>
      <td>amc hornet</td>
      <td>42332</td>
    </tr>
    <tr>
      <th>17</th>
      <td>21.0</td>
      <td>6</td>
      <td>200</td>
      <td>85</td>
      <td>2587</td>
      <td>16.0</td>
      <td>70</td>
      <td>1</td>
      <td>ford maverick</td>
      <td>45504</td>
    </tr>
    <tr>
      <th>18</th>
      <td>27.0</td>
      <td>4</td>
      <td>97</td>
      <td>88</td>
      <td>2130</td>
      <td>14.5</td>
      <td>70</td>
      <td>3</td>
      <td>datsun pl510</td>
      <td>42597</td>
    </tr>
    <tr>
      <th>19</th>
      <td>26.0</td>
      <td>4</td>
      <td>97</td>
      <td>46</td>
      <td>1835</td>
      <td>20.5</td>
      <td>70</td>
      <td>2</td>
      <td>volkswagen 1131 deluxe sedan</td>
      <td>38941</td>
    </tr>
    <tr>
      <th>20</th>
      <td>25.0</td>
      <td>4</td>
      <td>110</td>
      <td>87</td>
      <td>2672</td>
      <td>17.5</td>
      <td>70</td>
      <td>2</td>
      <td>peugeot 504</td>
      <td>32390</td>
    </tr>
    <tr>
      <th>21</th>
      <td>24.0</td>
      <td>4</td>
      <td>107</td>
      <td>90</td>
      <td>2430</td>
      <td>14.5</td>
      <td>70</td>
      <td>2</td>
      <td>audi 100 ls</td>
      <td>32667</td>
    </tr>
    <tr>
      <th>22</th>
      <td>25.0</td>
      <td>4</td>
      <td>104</td>
      <td>95</td>
      <td>2375</td>
      <td>17.5</td>
      <td>70</td>
      <td>2</td>
      <td>saab 99e</td>
      <td>56008</td>
    </tr>
    <tr>
      <th>23</th>
      <td>26.0</td>
      <td>4</td>
      <td>121</td>
      <td>113</td>
      <td>2234</td>
      <td>12.5</td>
      <td>70</td>
      <td>2</td>
      <td>bmw 2002</td>
      <td>20601</td>
    </tr>
    <tr>
      <th>24</th>
      <td>21.0</td>
      <td>6</td>
      <td>199</td>
      <td>90</td>
      <td>2648</td>
      <td>15.0</td>
      <td>70</td>
      <td>1</td>
      <td>amc gremlin</td>
      <td>20197</td>
    </tr>
    <tr>
      <th>25</th>
      <td>10.0</td>
      <td>8</td>
      <td>360</td>
      <td>215</td>
      <td>4615</td>
      <td>14.0</td>
      <td>70</td>
      <td>1</td>
      <td>ford f250</td>
      <td>16084</td>
    </tr>
    <tr>
      <th>26</th>
      <td>10.0</td>
      <td>8</td>
      <td>307</td>
      <td>200</td>
      <td>4376</td>
      <td>15.0</td>
      <td>70</td>
      <td>1</td>
      <td>chevy c20</td>
      <td>50060</td>
    </tr>
    <tr>
      <th>27</th>
      <td>11.0</td>
      <td>8</td>
      <td>318</td>
      <td>210</td>
      <td>4382</td>
      <td>13.5</td>
      <td>70</td>
      <td>1</td>
      <td>dodge d200</td>
      <td>18726</td>
    </tr>
    <tr>
      <th>28</th>
      <td>9.0</td>
      <td>8</td>
      <td>304</td>
      <td>193</td>
      <td>4732</td>
      <td>18.5</td>
      <td>70</td>
      <td>1</td>
      <td>hi 1200d</td>
      <td>60929</td>
    </tr>
    <tr>
      <th>29</th>
      <td>27.0</td>
      <td>4</td>
      <td>97</td>
      <td>88</td>
      <td>2130</td>
      <td>14.5</td>
      <td>71</td>
      <td>3</td>
      <td>datsun pl510</td>
      <td>26904</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>368</th>
      <td>27.0</td>
      <td>4</td>
      <td>112</td>
      <td>88</td>
      <td>2640</td>
      <td>18.6</td>
      <td>82</td>
      <td>1</td>
      <td>chevrolet cavalier wagon</td>
      <td>28105</td>
    </tr>
    <tr>
      <th>369</th>
      <td>34.0</td>
      <td>4</td>
      <td>112</td>
      <td>88</td>
      <td>2395</td>
      <td>18.0</td>
      <td>82</td>
      <td>1</td>
      <td>chevrolet cavalier 2-door</td>
      <td>41688</td>
    </tr>
    <tr>
      <th>370</th>
      <td>31.0</td>
      <td>4</td>
      <td>112</td>
      <td>85</td>
      <td>2575</td>
      <td>16.2</td>
      <td>82</td>
      <td>1</td>
      <td>pontiac j2000 se hatchback</td>
      <td>38171</td>
    </tr>
    <tr>
      <th>371</th>
      <td>29.0</td>
      <td>4</td>
      <td>135</td>
      <td>84</td>
      <td>2525</td>
      <td>16.0</td>
      <td>82</td>
      <td>1</td>
      <td>dodge aries se</td>
      <td>47017</td>
    </tr>
    <tr>
      <th>372</th>
      <td>27.0</td>
      <td>4</td>
      <td>151</td>
      <td>90</td>
      <td>2735</td>
      <td>18.0</td>
      <td>82</td>
      <td>1</td>
      <td>pontiac phoenix</td>
      <td>17871</td>
    </tr>
    <tr>
      <th>373</th>
      <td>24.0</td>
      <td>4</td>
      <td>140</td>
      <td>92</td>
      <td>2865</td>
      <td>16.4</td>
      <td>82</td>
      <td>1</td>
      <td>ford fairmont futura</td>
      <td>60999</td>
    </tr>
    <tr>
      <th>374</th>
      <td>23.0</td>
      <td>4</td>
      <td>151</td>
      <td>?</td>
      <td>3035</td>
      <td>20.5</td>
      <td>82</td>
      <td>1</td>
      <td>amc concord dl</td>
      <td>21410</td>
    </tr>
    <tr>
      <th>375</th>
      <td>36.0</td>
      <td>4</td>
      <td>105</td>
      <td>74</td>
      <td>1980</td>
      <td>15.3</td>
      <td>82</td>
      <td>2</td>
      <td>volkswagen rabbit l</td>
      <td>60281</td>
    </tr>
    <tr>
      <th>376</th>
      <td>37.0</td>
      <td>4</td>
      <td>91</td>
      <td>68</td>
      <td>2025</td>
      <td>18.2</td>
      <td>82</td>
      <td>3</td>
      <td>mazda glc custom l</td>
      <td>70067</td>
    </tr>
    <tr>
      <th>377</th>
      <td>31.0</td>
      <td>4</td>
      <td>91</td>
      <td>68</td>
      <td>1970</td>
      <td>17.6</td>
      <td>82</td>
      <td>3</td>
      <td>mazda glc custom</td>
      <td>30300</td>
    </tr>
    <tr>
      <th>378</th>
      <td>38.0</td>
      <td>4</td>
      <td>105</td>
      <td>63</td>
      <td>2125</td>
      <td>14.7</td>
      <td>82</td>
      <td>1</td>
      <td>plymouth horizon miser</td>
      <td>68615</td>
    </tr>
    <tr>
      <th>379</th>
      <td>36.0</td>
      <td>4</td>
      <td>98</td>
      <td>70</td>
      <td>2125</td>
      <td>17.3</td>
      <td>82</td>
      <td>1</td>
      <td>mercury lynx l</td>
      <td>27957</td>
    </tr>
    <tr>
      <th>380</th>
      <td>36.0</td>
      <td>4</td>
      <td>120</td>
      <td>88</td>
      <td>2160</td>
      <td>14.5</td>
      <td>82</td>
      <td>3</td>
      <td>nissan stanza xe</td>
      <td>34027</td>
    </tr>
    <tr>
      <th>381</th>
      <td>36.0</td>
      <td>4</td>
      <td>107</td>
      <td>75</td>
      <td>2205</td>
      <td>14.5</td>
      <td>82</td>
      <td>3</td>
      <td>honda accord</td>
      <td>52455</td>
    </tr>
    <tr>
      <th>382</th>
      <td>34.0</td>
      <td>4</td>
      <td>108</td>
      <td>70</td>
      <td>2245</td>
      <td>16.9</td>
      <td>82</td>
      <td>3</td>
      <td>toyota corolla</td>
      <td>56978</td>
    </tr>
    <tr>
      <th>383</th>
      <td>38.0</td>
      <td>4</td>
      <td>91</td>
      <td>67</td>
      <td>1965</td>
      <td>15.0</td>
      <td>82</td>
      <td>3</td>
      <td>honda civic</td>
      <td>37119</td>
    </tr>
    <tr>
      <th>384</th>
      <td>32.0</td>
      <td>4</td>
      <td>91</td>
      <td>67</td>
      <td>1965</td>
      <td>15.7</td>
      <td>82</td>
      <td>3</td>
      <td>honda civic (auto)</td>
      <td>47389</td>
    </tr>
    <tr>
      <th>385</th>
      <td>38.0</td>
      <td>4</td>
      <td>91</td>
      <td>67</td>
      <td>1995</td>
      <td>16.2</td>
      <td>82</td>
      <td>3</td>
      <td>datsun 310 gx</td>
      <td>22052</td>
    </tr>
    <tr>
      <th>386</th>
      <td>25.0</td>
      <td>6</td>
      <td>181</td>
      <td>110</td>
      <td>2945</td>
      <td>16.4</td>
      <td>82</td>
      <td>1</td>
      <td>buick century limited</td>
      <td>30502</td>
    </tr>
    <tr>
      <th>387</th>
      <td>38.0</td>
      <td>6</td>
      <td>262</td>
      <td>85</td>
      <td>3015</td>
      <td>17.0</td>
      <td>82</td>
      <td>1</td>
      <td>oldsmobile cutlass ciera (diesel)</td>
      <td>23039</td>
    </tr>
    <tr>
      <th>388</th>
      <td>26.0</td>
      <td>4</td>
      <td>156</td>
      <td>92</td>
      <td>2585</td>
      <td>14.5</td>
      <td>82</td>
      <td>1</td>
      <td>chrysler lebaron medallion</td>
      <td>44391</td>
    </tr>
    <tr>
      <th>389</th>
      <td>22.0</td>
      <td>6</td>
      <td>232</td>
      <td>112</td>
      <td>2835</td>
      <td>14.7</td>
      <td>82</td>
      <td>1</td>
      <td>ford granada l</td>
      <td>32823</td>
    </tr>
    <tr>
      <th>390</th>
      <td>32.0</td>
      <td>4</td>
      <td>144</td>
      <td>96</td>
      <td>2665</td>
      <td>13.9</td>
      <td>82</td>
      <td>3</td>
      <td>toyota celica gt</td>
      <td>38779</td>
    </tr>
    <tr>
      <th>391</th>
      <td>36.0</td>
      <td>4</td>
      <td>135</td>
      <td>84</td>
      <td>2370</td>
      <td>13.0</td>
      <td>82</td>
      <td>1</td>
      <td>dodge charger 2.2</td>
      <td>65242</td>
    </tr>
    <tr>
      <th>392</th>
      <td>27.0</td>
      <td>4</td>
      <td>151</td>
      <td>90</td>
      <td>2950</td>
      <td>17.3</td>
      <td>82</td>
      <td>1</td>
      <td>chevrolet camaro</td>
      <td>53177</td>
    </tr>
    <tr>
      <th>393</th>
      <td>27.0</td>
      <td>4</td>
      <td>140</td>
      <td>86</td>
      <td>2790</td>
      <td>15.6</td>
      <td>82</td>
      <td>1</td>
      <td>ford mustang gl</td>
      <td>60782</td>
    </tr>
    <tr>
      <th>394</th>
      <td>44.0</td>
      <td>4</td>
      <td>97</td>
      <td>52</td>
      <td>2130</td>
      <td>24.6</td>
      <td>82</td>
      <td>2</td>
      <td>vw pickup</td>
      <td>54594</td>
    </tr>
    <tr>
      <th>395</th>
      <td>32.0</td>
      <td>4</td>
      <td>135</td>
      <td>84</td>
      <td>2295</td>
      <td>11.6</td>
      <td>82</td>
      <td>1</td>
      <td>dodge rampage</td>
      <td>64510</td>
    </tr>
    <tr>
      <th>396</th>
      <td>28.0</td>
      <td>4</td>
      <td>120</td>
      <td>79</td>
      <td>2625</td>
      <td>18.6</td>
      <td>82</td>
      <td>1</td>
      <td>ford ranger</td>
      <td>56709</td>
    </tr>
    <tr>
      <th>397</th>
      <td>31.0</td>
      <td>4</td>
      <td>119</td>
      <td>82</td>
      <td>2720</td>
      <td>19.4</td>
      <td>82</td>
      <td>1</td>
      <td>chevy s-10</td>
      <td>69595</td>
    </tr>
  </tbody>
</table>
<p>398 rows × 10 columns</p>
</div>