# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [13]:
dir = 'C:\\Users\\Lenovo\\PycharmProjects\\pandas_exercises\\01_Getting_&_Knowing_Your_Data\\Chipotle\\'
chipo = pd.read_csv(dir + 'Chipotle.txt', sep='\t')

### Step 4. See the first 10 entries

In [14]:
chipo.head(10)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>order_id</th>
      <th>quantity</th>
      <th>item_name</th>
      <th>choice_description</th>
      <th>item_price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>1</td>
      <td>Chips and Fresh Tomato Salsa</td>
      <td>NaN</td>
      <td>$2.39</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1</td>
      <td>Izze</td>
      <td>[Clementine]</td>
      <td>$3.39</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1</td>
      <td>Nantucket Nectar</td>
      <td>[Apple]</td>
      <td>$3.39</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1</td>
      <td>Chips and Tomatillo-Green Chili Salsa</td>
      <td>NaN</td>
      <td>$2.39</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>2</td>
      <td>Chicken Bowl</td>
      <td>[Tomatillo-Red Chili Salsa (Hot), [Black Beans...</td>
      <td>$16.98</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3</td>
      <td>1</td>
      <td>Chicken Bowl</td>
      <td>[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...</td>
      <td>$10.98</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>1</td>
      <td>Side of Chips</td>
      <td>NaN</td>
      <td>$1.69</td>
    </tr>
    <tr>
      <th>7</th>
      <td>4</td>
      <td>1</td>
      <td>Steak Burrito</td>
      <td>[Tomatillo Red Chili Salsa, [Fajita Vegetables...</td>
      <td>$11.75</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>1</td>
      <td>Steak Soft Tacos</td>
      <td>[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...</td>
      <td>$9.25</td>
    </tr>
    <tr>
      <th>9</th>
      <td>5</td>
      <td>1</td>
      <td>Steak Burrito</td>
      <td>[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...</td>
      <td>$9.25</td>
    </tr>
  </tbody>
</table>
</div>

### Step 5. What is the number of observations in the dataset?

In [57]:
chipo['order_id'].isnull().any()
chipo.count()
chipo.info
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [57]:
len(chipo.columns)
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [27]:
for col in chipo.columns: print(col)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [28]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [33]:
chipo.item_name.describe()

count             4622
unique              50
top       Chicken Bowl
freq               726
Name: item_name, dtype: object

In [72]:
chipo.groupby('item_name').sum().sort_values(by='quantity', ascending=False).head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>order_id</th>
      <th>quantity</th>
    </tr>
    <tr>
      <th>item_name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Chicken Bowl</th>
      <td>713926</td>
      <td>761</td>
    </tr>
  </tbody>
</table>
</div>

### Step 10. How many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

In [65]:
chipo.groupby('choice_description').sum().sort_values(by='quantity', ascending=False).head(1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>order_id</th>
      <th>quantity</th>
    </tr>
    <tr>
      <th>choice_description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>[Diet Coke]</th>
      <td>123455</td>
      <td>159</td>
    </tr>
  </tbody>
</table>
</div>

### Step 12. How many items were orderd in total?

In [69]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

In [82]:
chipo['item_price'] = chipo['item_price'].str[1:].astype('float')

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

### Step 14. How much was the revenue for the period in the dataset?

In [90]:
revenue = (chipo['item_price'] * chipo['quantity']).sum()
'Revenue was: {0} dollars'.format(revenue)

'Revenue was: 39237.02 dollars'

### Step 15. How many orders were made in the period?

In [93]:
chipo['order_id'].value_counts().count()

1834

### Step 16. What is the average amount per order?

In [101]:
orders = chipo['order_id'].value_counts().count()
sum = (chipo['item_price'] * chipo['quantity']).sum()
'Average amount per order was ${0}'.format(np.round(sum/orders, 2))
# or better
mean_order = chipo.groupby('order_id').sum()['item_price'].mean()
'Average amount per order was ${0}'.format(np.round(mean_order, 2))

'Average amount per order was $18.81'

### Step 17. How many different items are sold?

In [122]:
len(chipo['item_name'].unique())
# or
chipo.item_name.value_counts().count()

50