# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
dict = {'evolution': ['Ivysour', 'Charmeleon', 'Wartortle', 'Metapod'],
        'hp': [45, 39, 44, 45],
        'name': ['Bulbasour', 'Charmander', 'Squirtle', 'Caterpie'],
        'pokedex': ['yes', 'no', 'yes', 'no'],
        'type': ['grass', 'fire', 'water', 'bug']}

### Step 3. Assign it to a variable called

In [3]:
pokemons = pd.DataFrame(dict)
pokemons

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>evolution</th>
      <th>hp</th>
      <th>name</th>
      <th>pokedex</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Ivysour</td>
      <td>45</td>
      <td>Bulbasour</td>
      <td>yes</td>
      <td>grass</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Charmeleon</td>
      <td>39</td>
      <td>Charmander</td>
      <td>no</td>
      <td>fire</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Wartortle</td>
      <td>44</td>
      <td>Squirtle</td>
      <td>yes</td>
      <td>water</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Metapod</td>
      <td>45</td>
      <td>Caterpie</td>
      <td>no</td>
      <td>bug</td>
    </tr>
  </tbody>
</table>
</div>

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [5]:
pokemons = pokemons[['name', 'type', 'hp', 'evolution', 'pokedex']]

### Step 5. Add another column called place, and insert what you have in mind.

In [7]:
pokemons['place'] = ['Bieszczady', 'Tatry', 'Mazury', 'Morze']

C:\Users\Lenovo\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
pokemons

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>type</th>
      <th>hp</th>
      <th>evolution</th>
      <th>pokedex</th>
      <th>place</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Bulbasour</td>
      <td>grass</td>
      <td>45</td>
      <td>Ivysour</td>
      <td>yes</td>
      <td>Bieszczady</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Charmander</td>
      <td>fire</td>
      <td>39</td>
      <td>Charmeleon</td>
      <td>no</td>
      <td>Tatry</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Squirtle</td>
      <td>water</td>
      <td>44</td>
      <td>Wartortle</td>
      <td>yes</td>
      <td>Mazury</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Caterpie</td>
      <td>bug</td>
      <td>45</td>
      <td>Metapod</td>
      <td>no</td>
      <td>Morze</td>
    </tr>
  </tbody>
</table>
</div>

### Step 6. Present the type of each column

In [9]:
pokemons.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.